src/main/resources/static/AutoService.xml

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="AutosWebService" targetNamespace="http://www.segurosbolivar.com/AutosWebService/1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.segurosbolivar.com/autos/dto/crea" xmlns:WL5G3N2="http://www.segurosbolivar.com/AutosWebService/1.0" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
    <WL5G3N0:types>
        <xsd:schema xmlns:inp1="http://www.segurosbolivar.com/autos/dto/crea" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.segurosbolivar.com/AutosWebService/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.segurosbolivar.com/autos/dto/crea" schemaLocation="https://intranet.bolnet.com.co/SimonWSExterno/AutosServiceNuevo?SCHEMA%2FAutosService%2FWEB-INF%2Fxsd%2FautosCrea"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="requestMessage">
        <WL5G3N0:part element="WL5G3N1:liquidarPrimaRequest" name="LiquidarPrimaInput"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="replyMessage">
        <WL5G3N0:part element="WL5G3N1:liquidarPrimaResponse" name="LiquidarPrimaResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="crearCotizacionRequestMessage">
        <WL5G3N0:part element="WL5G3N1:crearCotizacionRequest" name="CrearCotizacionInput"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="crearCotizacionReplyMessage">
        <WL5G3N0:part element="WL5G3N1:crearCotizacionResponse" name="CrearCotizacionResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="listaDeCiudadesRequestMessage">
        <WL5G3N0:part element="WL5G3N1:listaDeCiudadesRequest" name="ListaCiudadesInput"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="listaDeCiudadesReplyMessage">
        <WL5G3N0:part element="WL5G3N1:listaDeCiudadesResponse" name="ListaCiudadesResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="crearCotizacionResumeRequestMessage">
        <WL5G3N0:part element="WL5G3N1:crearCotizacionResumeRequest" name="CrearCotizacionResumeInput"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="crearCotizacionResumeReplyMessage">
        <WL5G3N0:part element="WL5G3N1:crearCotizacionResumeResponse" name="CrearCotizacionResumeResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="faultMessage">
        <WL5G3N0:part element="WL5G3N1:AutosFault" name="AutosFault"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="AutosPort">
        <WL5G3N0:operation name="liquidarPrima">
            <WL5G3N0:input message="WL5G3N2:requestMessage"/>
            <WL5G3N0:output message="WL5G3N2:replyMessage"/>
            <WL5G3N0:fault message="WL5G3N2:faultMessage" name="executefault"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="crearCotizacion">
            <WL5G3N0:input message="WL5G3N2:crearCotizacionRequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:crearCotizacionReplyMessage"/>
            <WL5G3N0:fault message="WL5G3N2:faultMessage" name="executefault"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="listaDeCiudades">
            <WL5G3N0:input message="WL5G3N2:listaDeCiudadesRequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:listaDeCiudadesReplyMessage"/>
            <WL5G3N0:fault message="WL5G3N2:faultMessage" name="executefault"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="crearCotizacionResume">
            <WL5G3N0:input message="WL5G3N2:crearCotizacionResumeRequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:crearCotizacionResumeReplyMessage"/>
            <WL5G3N0:fault message="WL5G3N2:faultMessage" name="executefault"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="AutosPortBinding" type="WL5G3N2:AutosPort">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="liquidarPrima">
            <WL5G3N3:operation soapAction="liquidarPrima" style="document"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="executefault">
                <WL5G3N3:fault name="executefault" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="crearCotizacion">
            <WL5G3N3:operation soapAction="crearCotizacion" style="document"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="executefault">
                <WL5G3N3:fault name="executefault" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="listaDeCiudades">
            <WL5G3N3:operation soapAction="listaDeCiudades" style="document"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="executefault">
                <WL5G3N3:fault name="executefault" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="crearCotizacionResume">
            <WL5G3N3:operation soapAction="crearCotizacionResume" style="document"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="executefault">
                <WL5G3N3:fault name="executefault" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="AutosService">
        <WL5G3N0:port binding="WL5G3N2:AutosPortBinding" name="AutosPortBinding">
            <WL5G3N3:address location="https://intranet.bolnet.com.co/SimonWSExterno/AutosServiceNuevo"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>